.workspace {
    background: #ffffff;
    min-height:90%;
    position: relative;
    min-width: 1024px;
    box-sizing: border-box;
}
.workspace-body {
    display: flex;
    /* height: 100%; */
    box-sizing: border-box;
}